<%= render 'layouts/nav' %>

<div class="mainContent-container">
        <!-- <div class="content"> -->
          <!-- <header class="mainContent"> -->
          <div class="box effect2">

          </div>
              <img class="thermal" src="/assets/thermal.png" alt="" />
          <img class="corrosion effect2"src="/assets/co.png" alt=""/>
          <img class="fire effect2"src="/assets/fire.png" alt="" onclick="hideThermal" />
              <ul class="main-text">
                  <li>

                  </li>
                  <li>



                  </li>
                  <li>


                  </li>
              </ul>
            <!-- <div class="thermal-white"> -->
            <!-- </div> -->
            <!-- <div class="corrosion-white"> -->
            <!-- </div> -->
            <!-- <div class="fire-white"> -->
            <!-- </div> -->
          <!-- </header> -->
        </div>

          <p class="intro">
            Eagle Coatings is in the business of solving large scale construction problems. As the Canadian distributor for Superior Products International, allow us to provide your next project with over 20 years of expertise in minimizing energy loss and protecting your investment.
          </p>



      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="footerContent"> -->



      <%= render 'layouts/footer' %>




<div class="thermal-parallax">
      <div class="thermal-content-main right illustration_01-hotpipe">
          <h2>Thermal</h2>
          <br>
           <h3>SUPERTHERM<sup>®</sup> Ceramic insulation coatings history of development
with the assistance of the ceramic engineers at
nasa, nasa technology transfer<sup>®</sup></h3>
           <p>BUYER BEWARE!!! Not all CERAMIC INSULATION COATINGS are created equal! </p>

           <p>
               There is also a vast difference between an insulating coating and a "reflective paint". As with any and all world class technology there will inevitably be cheap imitations that will claim to do the same or better and cost half the price. These companies put up pictures of Space Shuttles and slick statements on their web site to lead one to believe they use the same technology as NASA.
         While our competitors may be able to spell NASA, they've never been there ( NASA TECHNOLOGY TRANSFER ). </p>

           <p>These cheap imitations are making exaggerated and unsubstantiated claims that have resulted in lawsuits by the Federal Trade Commission against KRYTON COATINGS INTERNATIONAL, INC. and PROCRAFT, INC. in the United States and against Para Inc. by the Competition Bureau in Canada! When pressed for documentation ( ie. ASTM ) from certified testing facilities to back up these claims however they are unable to produce any or at best produce some hokey unrecognized and unaccredited test they designed themselves and conducted by unaccredited NON THERMAL labs following the customers directions. These kinds of practices unfortunately hurt the legitimate product as we have seen because it's the bad news that people will always remember.</p>

            </div>

       <section class="separator">
         <h3>Check out SUPERTHERM ®

Certifications

Architectural Specifications<sup>®</sup></h3>
       </section>

       <div class="parallax-content left illustration_02-hotpipe">
        <h2>Proving SUPERTHERM</h2>
        <p>The product that was developed from NASA-aided research is known as SUPERTHERM ®. Since the development of the product,
SUPERTHERM ® has been in extensive field testing to judge its effectiveness beginning in 1990 until present.
Uses have ranged from applying to metal building roofing, homes, industrial furnaces, ocean-going vessels, from tropical climates to Alaskan freezes, from normal weathering to the inside of acid-burning furnaces, from the UAE to the Pacific Rim and as far away as Russia and Japan ( 70% market share ).  </p>
        <p>From the original product a whole family of products has been developed to meet the varied requirements of different customers. As is the case with all of our coatings, each one is specifically engineered to solve a specific problem under a variety of application and performance criteria.</p>
        </div>

      <section class="separator">
        <h6>SUNSHIELD ® Good to 300°F \ 149°C

SUPERTHERM ® Good to 300°F \ 149°C

EPOXOTHERM ® Good to 350°F \ 177°C

HOT SURFACE COATING ® Good to 350°F \ 177°C

HOT PIPE COATING ® Good to 932°F \ 500°C</h6>
      </section>
      <div class="parallax-content right illustration_03-hotpipe">
        <h2>THESE MULTI ~ CERAMIC INSULATION COATINGS
ADDRESS ALL THREE MODES OF
HEAT TRANSFER!</h2>

      <p>

      ~ The second ceramic repels better than 92% of Visual Light (short wave) heat.

      ~ The third ceramic compound is to stop 92% of heat and / or cold conduction by hollow sphere technology which is not glass.

      ~ The fourth ceramic compound is designed specifically for stopping infrared radiated heat. This ceramic blocks 99.5% of Infrared Radiation ( long wave ) to control the heat gain or loss to the envelope of buildings or equipment. This new compound was introduced in February of 2000 as part of our continued research in controlling heat transfer.

      From the BOB VILA blog "The Dean of Home Renovation & Repair Advice"
      "Ceramic Coatings for Increased Insulation"

      - The combination of acrylics provide elasticity and adhesion while the urethane adds toughness, binds the acrylics and compounds and also provides a moisture barrier. The fourth resin additive is what makes the complete resin blend to combine into a single component and extends the life of the coating. This resin / ceramic combination has been shown to repel both heat and fire, withstand elements for 30 to 40 years, endure a 180 degree bend without cracking, resist water, acid rain and ultraviolet light. SUPERTHERM ® is a permanently flexible "breathable" membrane that stops water penetration and prevents corrosion and surface deterioration.
      </p>
       <p> PHYSICAL DATA:
      * Solids: By weight 70% / By volume 60%.
      * Film Thickness: On all substrates SUPERTHERM ® should be applied at 17 mils wet / 10 mils dry.
      - Under no circumstances should SUPERTHERM ® be applied at less than 10 mils dry/ 17 mils wet each coat!
      * Dry Time: One hour to touch at 70°F. degrees and bright sun / Overcoat window is two hours or longer at 70°F. degrees / Fully cures in twenty one days.
      * Lead and chromate free.
      * Cures by evaporation with no co-solvents present.
      * Weight: 11.88 lbs. per gallon.
      * Shelf Life: up to 5 years (unopened) under appropriate storage conditions (see MSDS).
      * VOC Level: 67.2 grams per liter / 0.561 lbs per gallon.
      * pH: 8.5 - 9.0.
      * Viscosity: 105-110 KU.
      </p>
       <p> FEATURES:
      • VOC-Compliant: Only 67.2 grams/liter. Limit is 420 grams. Qualifies under Green Seal limits of 100 grams/liter (g/l) for Flat interior & exterior paints
      • US Consumer Product Safety Commission approved
      • USDA \ CFIA approved for use around foods
      SUPERTHERM ® PROTECTS AGAINST MOLD, MILDEW and other PATHOGENS!
      </p>

        <p>Flame Spread Class " A " Rating with " 0 " flame spread (NASA) (Omega Point Laboratories - ASTM E84 \ UL 723)
      Smoke Developed Class " A " Rating with " 0 "smoke developed (Omega Point Laboratories - ASTM E84)
      " K " Rating with No off gassing (NASA)
      </p>
        </div>
      <section class="separator">
        <h3>Asset Protection</h3>
      </section>
      <div class="parallax-content left illustration_04-hotpipe">
        <h2>• BOCA Evaluation Services Inc. Certified and listed as "Thermal Insulation Materials"
      • GSA listed with US government
      • Energy Star approved partner</h2>
        <p>

          Reduction of BTU conduction through a steel plate from 367.2 to 3.99 at a thickness of 10 mils DFT ( 8/1000 " ) This reduction is written for steel, concrete or any other substrate material.
          The combination of reflectivity, emissivity and thermal conductivity equals R19 ( ASTM C236 )
      </p>
        <p>
      "R" Value improvement ratio: The ASTM C236 test verified that using SUPERTHERM ® over an existing "R" value material will enhance the total of the "R" value performance of the system. The control fiber glass board tested to K=0.52. When SUPERTHERM ® was applied at the standard 10 mils dry, the certified improvement to the "R" value was 68% . One coat each at 10 mils of SUPERTHERM ® applied to opposite sides of the same "R" rated material improved the "R" performance by 148%. Therefore, based upon the 68% improvement ratio, a minimum of R13 material or system can be improved to R21.8 by applying one coat of SUPERTHERM ®.</p>

       <p> FEATURE
         • Spreads at 95 sf/gallon which gives a thickness of 17 mils Wet (WFT) = 10 mils Dry (DFT)
       • Elongation 125% \ Flexibility 180 degree bend test ( ASTM 1737 - 1/8 " mandrel )
       • Weathering 10 years \ UV resistance - 2000 hours \ Hail resistant to cracking
       • Can withstand acid rain, chemical vapours and direct mild acid splash
       • Salt Spray 2000 + hours \ ASTM B117 Corrosion Test 450 hours ASTM D1654 over black steel Rating procedure B:9
       • Contains anti-flash rusting components
      </p>
        <p>• Sound deadening of 68% is accomplished by blocking sound waves in the same manner as blocking heat waves. Separate testing was performed in association with UNC and Stoughton Trailers. Both recorded the same 68% reduction.
      </p>
      </div>
      <section class="separator">
        <h3>(604) 577 - 2212</h3>
      </section>
</div>
<div class="corrosion-parallax">
      <div class="corrosion-content-main right illustration_01-hotpipe">
          <h2>Corrosion</h2>
          <br>
           <h3>SUPERTHERM<sup>®</sup> Ceramic insulation coatings history of development
with the assistance of the ceramic engineers at
nasa, nasa technology transfer<sup>®</sup></h3>
           <p>BUYER BEWARE!!! Not all CERAMIC INSULATION COATINGS are created equal! </p>

           <p>
               There is also a vast difference between an insulating coating and a "reflective paint". As with any and all world class technology there will inevitably be cheap imitations that will claim to do the same or better and cost half the price. These companies put up pictures of Space Shuttles and slick statements on their web site to lead one to believe they use the same technology as NASA.
         While our competitors may be able to spell NASA, they've never been there ( NASA TECHNOLOGY TRANSFER ). </p>

           <p>These cheap imitations are making exaggerated and unsubstantiated claims that have resulted in lawsuits by the Federal Trade Commission against KRYTON COATINGS INTERNATIONAL, INC. and PROCRAFT, INC. in the United States and against Para Inc. by the Competition Bureau in Canada! When pressed for documentation ( ie. ASTM ) from certified testing facilities to back up these claims however they are unable to produce any or at best produce some hokey unrecognized and unaccredited test they designed themselves and conducted by unaccredited NON THERMAL labs following the customers directions. These kinds of practices unfortunately hurt the legitimate product as we have seen because it's the bad news that people will always remember.</p>

            </div>

       <section class="separator">
         <h3>Check out SUPERTHERM ®

Certifications

Architectural Specifications<sup>®</sup></h3>
       </section>

       <div class="parallax-content left illustration_02-hotpipe">
        <h2>Proving SUPERTHERM</h2>
        <p>The product that was developed from NASA-aided research is known as SUPERTHERM ®. Since the development of the product,
SUPERTHERM ® has been in extensive field testing to judge its effectiveness beginning in 1990 until present.
Uses have ranged from applying to metal building roofing, homes, industrial furnaces, ocean-going vessels, from tropical climates to Alaskan freezes, from normal weathering to the inside of acid-burning furnaces, from the UAE to the Pacific Rim and as far away as Russia and Japan ( 70% market share ).  </p>
        <p>From the original product a whole family of products has been developed to meet the varied requirements of different customers. As is the case with all of our coatings, each one is specifically engineered to solve a specific problem under a variety of application and performance criteria.</p>
        </div>

      <section class="separator">
        <h6>SUNSHIELD ® Good to 300°F \ 149°C

SUPERTHERM ® Good to 300°F \ 149°C

EPOXOTHERM ® Good to 350°F \ 177°C

HOT SURFACE COATING ® Good to 350°F \ 177°C

HOT PIPE COATING ® Good to 932°F \ 500°C</h6>
      </section>
      <div class="parallax-content right illustration_03-hotpipe">
        <h2>THESE MULTI ~ CERAMIC INSULATION COATINGS
ADDRESS ALL THREE MODES OF
HEAT TRANSFER!</h2>

      <p>

      ~ The second ceramic repels better than 92% of Visual Light (short wave) heat.

      ~ The third ceramic compound is to stop 92% of heat and / or cold conduction by hollow sphere technology which is not glass.

      ~ The fourth ceramic compound is designed specifically for stopping infrared radiated heat. This ceramic blocks 99.5% of Infrared Radiation ( long wave ) to control the heat gain or loss to the envelope of buildings or equipment. This new compound was introduced in February of 2000 as part of our continued research in controlling heat transfer.

      From the BOB VILA blog "The Dean of Home Renovation & Repair Advice"
      "Ceramic Coatings for Increased Insulation"

      - The combination of acrylics provide elasticity and adhesion while the urethane adds toughness, binds the acrylics and compounds and also provides a moisture barrier. The fourth resin additive is what makes the complete resin blend to combine into a single component and extends the life of the coating. This resin / ceramic combination has been shown to repel both heat and fire, withstand elements for 30 to 40 years, endure a 180 degree bend without cracking, resist water, acid rain and ultraviolet light. SUPERTHERM ® is a permanently flexible "breathable" membrane that stops water penetration and prevents corrosion and surface deterioration.
      </p>
       <p> PHYSICAL DATA:
      * Solids: By weight 70% / By volume 60%.
      * Film Thickness: On all substrates SUPERTHERM ® should be applied at 17 mils wet / 10 mils dry.
      - Under no circumstances should SUPERTHERM ® be applied at less than 10 mils dry/ 17 mils wet each coat!
      * Dry Time: One hour to touch at 70°F. degrees and bright sun / Overcoat window is two hours or longer at 70°F. degrees / Fully cures in twenty one days.
      * Lead and chromate free.
      * Cures by evaporation with no co-solvents present.
      * Weight: 11.88 lbs. per gallon.
      * Shelf Life: up to 5 years (unopened) under appropriate storage conditions (see MSDS).
      * VOC Level: 67.2 grams per liter / 0.561 lbs per gallon.
      * pH: 8.5 - 9.0.
      * Viscosity: 105-110 KU.
      </p>
       <p> FEATURES:
      • VOC-Compliant: Only 67.2 grams/liter. Limit is 420 grams. Qualifies under Green Seal limits of 100 grams/liter (g/l) for Flat interior & exterior paints
      • US Consumer Product Safety Commission approved
      • USDA \ CFIA approved for use around foods
      SUPERTHERM ® PROTECTS AGAINST MOLD, MILDEW and other PATHOGENS!
      </p>

        <p>Flame Spread Class " A " Rating with " 0 " flame spread (NASA) (Omega Point Laboratories - ASTM E84 \ UL 723)
      Smoke Developed Class " A " Rating with " 0 "smoke developed (Omega Point Laboratories - ASTM E84)
      " K " Rating with No off gassing (NASA)
      </p>
        </div>
      <section class="separator">
        <h3>Asset Protection</h3>
      </section>
      <div class="parallax-content left illustration_04-hotpipe">
        <h2>• BOCA Evaluation Services Inc. Certified and listed as "Thermal Insulation Materials"
      • GSA listed with US government
      • Energy Star approved partner</h2>
        <p>

          Reduction of BTU conduction through a steel plate from 367.2 to 3.99 at a thickness of 10 mils DFT ( 8/1000 " ) This reduction is written for steel, concrete or any other substrate material.
          The combination of reflectivity, emissivity and thermal conductivity equals R19 ( ASTM C236 )
      </p>
        <p>
      "R" Value improvement ratio: The ASTM C236 test verified that using SUPERTHERM ® over an existing "R" value material will enhance the total of the "R" value performance of the system. The control fiber glass board tested to K=0.52. When SUPERTHERM ® was applied at the standard 10 mils dry, the certified improvement to the "R" value was 68% . One coat each at 10 mils of SUPERTHERM ® applied to opposite sides of the same "R" rated material improved the "R" performance by 148%. Therefore, based upon the 68% improvement ratio, a minimum of R13 material or system can be improved to R21.8 by applying one coat of SUPERTHERM ®.</p>

       <p> FEATURE
         • Spreads at 95 sf/gallon which gives a thickness of 17 mils Wet (WFT) = 10 mils Dry (DFT)
       • Elongation 125% \ Flexibility 180 degree bend test ( ASTM 1737 - 1/8 " mandrel )
       • Weathering 10 years \ UV resistance - 2000 hours \ Hail resistant to cracking
       • Can withstand acid rain, chemical vapours and direct mild acid splash
       • Salt Spray 2000 + hours \ ASTM B117 Corrosion Test 450 hours ASTM D1654 over black steel Rating procedure B:9
       • Contains anti-flash rusting components
      </p>
        <p>• Sound deadening of 68% is accomplished by blocking sound waves in the same manner as blocking heat waves. Separate testing was performed in association with UNC and Stoughton Trailers. Both recorded the same 68% reduction.
      </p>
      </div>
      <section class="separator">
        <h3>(604) 577 - 2212</h3>
      </section>
</div>
<div class="fire-parallax">
      <div class="fire-content-main right illustration_01-hotpipe">
          <h2>Fire</h2>
          <br>
           <h3>SUPERTHERM<sup>®</sup> Ceramic insulation coatings history of development
with the assistance of the ceramic engineers at
nasa, nasa technology transfer<sup>®</sup></h3>
           <p>BUYER BEWARE!!! Not all CERAMIC INSULATION COATINGS are created equal! </p>

           <p>
               There is also a vast difference between an insulating coating and a "reflective paint". As with any and all world class technology there will inevitably be cheap imitations that will claim to do the same or better and cost half the price. These companies put up pictures of Space Shuttles and slick statements on their web site to lead one to believe they use the same technology as NASA.
         While our competitors may be able to spell NASA, they've never been there ( NASA TECHNOLOGY TRANSFER ). </p>

           <p>These cheap imitations are making exaggerated and unsubstantiated claims that have resulted in lawsuits by the Federal Trade Commission against KRYTON COATINGS INTERNATIONAL, INC. and PROCRAFT, INC. in the United States and against Para Inc. by the Competition Bureau in Canada! When pressed for documentation ( ie. ASTM ) from certified testing facilities to back up these claims however they are unable to produce any or at best produce some hokey unrecognized and unaccredited test they designed themselves and conducted by unaccredited NON THERMAL labs following the customers directions. These kinds of practices unfortunately hurt the legitimate product as we have seen because it's the bad news that people will always remember.</p>

            </div>

       <section class="separator">
         <h3>Check out SUPERTHERM ®

Certifications

Architectural Specifications<sup>®</sup></h3>
       </section>

       <div class="parallax-content left illustration_02-hotpipe">
        <h2>Proving SUPERTHERM</h2>
        <p>The product that was developed from NASA-aided research is known as SUPERTHERM ®. Since the development of the product,
SUPERTHERM ® has been in extensive field testing to judge its effectiveness beginning in 1990 until present.
Uses have ranged from applying to metal building roofing, homes, industrial furnaces, ocean-going vessels, from tropical climates to Alaskan freezes, from normal weathering to the inside of acid-burning furnaces, from the UAE to the Pacific Rim and as far away as Russia and Japan ( 70% market share ).  </p>
        <p>From the original product a whole family of products has been developed to meet the varied requirements of different customers. As is the case with all of our coatings, each one is specifically engineered to solve a specific problem under a variety of application and performance criteria.</p>
        </div>

      <section class="separator">
        <h6>SUNSHIELD ® Good to 300°F \ 149°C

SUPERTHERM ® Good to 300°F \ 149°C

EPOXOTHERM ® Good to 350°F \ 177°C

HOT SURFACE COATING ® Good to 350°F \ 177°C

HOT PIPE COATING ® Good to 932°F \ 500°C</h6>
      </section>
      <div class="parallax-content right illustration_03-hotpipe">
        <h2>THESE MULTI ~ CERAMIC INSULATION COATINGS
ADDRESS ALL THREE MODES OF
HEAT TRANSFER!</h2>

      <p>

      ~ The second ceramic repels better than 92% of Visual Light (short wave) heat.

      ~ The third ceramic compound is to stop 92% of heat and / or cold conduction by hollow sphere technology which is not glass.

      ~ The fourth ceramic compound is designed specifically for stopping infrared radiated heat. This ceramic blocks 99.5% of Infrared Radiation ( long wave ) to control the heat gain or loss to the envelope of buildings or equipment. This new compound was introduced in February of 2000 as part of our continued research in controlling heat transfer.

      From the BOB VILA blog "The Dean of Home Renovation & Repair Advice"
      "Ceramic Coatings for Increased Insulation"

      - The combination of acrylics provide elasticity and adhesion while the urethane adds toughness, binds the acrylics and compounds and also provides a moisture barrier. The fourth resin additive is what makes the complete resin blend to combine into a single component and extends the life of the coating. This resin / ceramic combination has been shown to repel both heat and fire, withstand elements for 30 to 40 years, endure a 180 degree bend without cracking, resist water, acid rain and ultraviolet light. SUPERTHERM ® is a permanently flexible "breathable" membrane that stops water penetration and prevents corrosion and surface deterioration.
      </p>
       <p> PHYSICAL DATA:
      * Solids: By weight 70% / By volume 60%.
      * Film Thickness: On all substrates SUPERTHERM ® should be applied at 17 mils wet / 10 mils dry.
      - Under no circumstances should SUPERTHERM ® be applied at less than 10 mils dry/ 17 mils wet each coat!
      * Dry Time: One hour to touch at 70°F. degrees and bright sun / Overcoat window is two hours or longer at 70°F. degrees / Fully cures in twenty one days.
      * Lead and chromate free.
      * Cures by evaporation with no co-solvents present.
      * Weight: 11.88 lbs. per gallon.
      * Shelf Life: up to 5 years (unopened) under appropriate storage conditions (see MSDS).
      * VOC Level: 67.2 grams per liter / 0.561 lbs per gallon.
      * pH: 8.5 - 9.0.
      * Viscosity: 105-110 KU.
      </p>
       <p> FEATURES:
      • VOC-Compliant: Only 67.2 grams/liter. Limit is 420 grams. Qualifies under Green Seal limits of 100 grams/liter (g/l) for Flat interior & exterior paints
      • US Consumer Product Safety Commission approved
      • USDA \ CFIA approved for use around foods
      SUPERTHERM ® PROTECTS AGAINST MOLD, MILDEW and other PATHOGENS!
      </p>

        <p>Flame Spread Class " A " Rating with " 0 " flame spread (NASA) (Omega Point Laboratories - ASTM E84 \ UL 723)
      Smoke Developed Class " A " Rating with " 0 "smoke developed (Omega Point Laboratories - ASTM E84)
      " K " Rating with No off gassing (NASA)
      </p>
        </div>
      <section class="separator">
        <h3>Asset Protection</h3>
      </section>
      <div class="parallax-content left illustration_04-hotpipe">
        <h2>• BOCA Evaluation Services Inc. Certified and listed as "Thermal Insulation Materials"
      • GSA listed with US government
      • Energy Star approved partner</h2>
        <p>

          Reduction of BTU conduction through a steel plate from 367.2 to 3.99 at a thickness of 10 mils DFT ( 8/1000 " ) This reduction is written for steel, concrete or any other substrate material.
          The combination of reflectivity, emissivity and thermal conductivity equals R19 ( ASTM C236 )
      </p>
        <p>
      "R" Value improvement ratio: The ASTM C236 test verified that using SUPERTHERM ® over an existing "R" value material will enhance the total of the "R" value performance of the system. The control fiber glass board tested to K=0.52. When SUPERTHERM ® was applied at the standard 10 mils dry, the certified improvement to the "R" value was 68% . One coat each at 10 mils of SUPERTHERM ® applied to opposite sides of the same "R" rated material improved the "R" performance by 148%. Therefore, based upon the 68% improvement ratio, a minimum of R13 material or system can be improved to R21.8 by applying one coat of SUPERTHERM ®.</p>

       <p> FEATURE
         • Spreads at 95 sf/gallon which gives a thickness of 17 mils Wet (WFT) = 10 mils Dry (DFT)
       • Elongation 125% \ Flexibility 180 degree bend test ( ASTM 1737 - 1/8 " mandrel )
       • Weathering 10 years \ UV resistance - 2000 hours \ Hail resistant to cracking
       • Can withstand acid rain, chemical vapours and direct mild acid splash
       • Salt Spray 2000 + hours \ ASTM B117 Corrosion Test 450 hours ASTM D1654 over black steel Rating procedure B:9
       • Contains anti-flash rusting components
      </p>
        <p>• Sound deadening of 68% is accomplished by blocking sound waves in the same manner as blocking heat waves. Separate testing was performed in association with UNC and Stoughton Trailers. Both recorded the same 68% reduction.
      </p>
      </div>
      <section class="separator">
        <h3>(604) 577 - 2212</h3>
      </section>
</div>
