<%= render 'layouts/nav' %>

<div class="mainContent">
        <!-- <div class="content"> -->
          <header class="content">
              <ul class="main-text">
                  <li>
                      <div id="text" class="thermal-text">
                          Thermal
                      </div>
                  </li>
                  <li>
                      <div id="text" class="corrosion-text">
                          Corrosion
                      </div>
                  </li>
                  <li>
                      <div id="text" class="fire-text">
                          Fire
                      </div>
                  </li>
              </ul>
            <div class="thermal-white">
              <img src="/assets/thermal.png" alt="" />
            </div>
            <div class="corrosion-white">
              <img src="/assets/co.png" alt=""/>
            </div>
            <div class="fire-white">
              <img src="/assets/fire.png" alt="" />
            </div>
          </header>
        </div>

          <p class="intro">
            Eagle Coatings is in the business of solving large scale construction problems. As the Canadian distributor for Superior Products International, allow us to provide your next project with over 20 years of expertise in minimizing energy loss and protecting your investment.
          </p>



      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="footerContent"> -->
      <img src="/assets/phone.png" class="hvr-float-shadow" alt="" height="75px" width="75px" align="middle" />


      <%= render 'layouts/footer' %>
