<%= render 'layouts/nav' %>

<div class="mainContent-container">
        <!-- <div class="content"> -->
          <!-- <header class="mainContent"> -->
          <img src="/assets/thermal.png" alt="" />
          <img src="/assets/co.png" alt=""/>
          <img src="/assets/fire.png" alt="" />
              <ul class="main-text">
                  <li>
                      <h6 id="text" class="thermal-text">
                          Thermal
                      </h6>
                  </li>
                  <li>
                      <h6 id="text" class="corrosion-text">
                          Corrosion
                      </h6>
                  </li>
                  <li>
                      <h6 id="text" class="fire-text">
                          Fire
                      </h6>
                  </li>
              </ul>
            <!-- <div class="thermal-white"> -->
            <!-- </div> -->
            <!-- <div class="corrosion-white"> -->
            <!-- </div> -->
            <!-- <div class="fire-white"> -->
            <!-- </div> -->
          <!-- </header> -->
        </div>

          <p class="intro">
            Eagle Coatings is in the business of solving large scale construction problems. As the Canadian distributor for Superior Products International, allow us to provide your next project with over 20 years of expertise in minimizing energy loss and protecting your investment.
          </p>



      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="footerContent"> -->



      <%= render 'layouts/footer' %>
