.about-container {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  width: 90%;
  margin: 3% 10% 0 7%;
}

.about-us {
  text-align: center;
  width: 80%;
  margin: 3% 0 4% 10%;
  font-family: 'Nunito', sans-serif;
  font-size: .4em;
  line-height: 150%;
}

.about-background {
  position: fixed;
  margin: 1% 0 0 29.9%;
  opacity: 0.05;
  z-index: 1;
}
