table {
  width: 90%;
  font-size: 1.1em;
}

td.before-message {
  height: 5px;
  display: none;
  // margin: 1% 1%;
}

.five-message {
  // display: none;
  width: 100%;
  font-weight: 600;
}

table tr {
  // display: none;
}

table tr th {
  height: 100px;
}

table tr td img {
  // width: 10%;
  height: 100px;
  margin: 0 5% 0 5%;
}

table tr td:nth-child(1) {
  width: 15%;
  padding: 0 0;
  height: auto;
  line-height: 100%;
  text-align: center;
}
table tr td:nth-child(2) {
  width: 75%;
  padding: 0 5%;
  height: 50px;
}
table tr td:nth-child(3) {
  width: 10%;
  padding: 0 5%;
  height: 50px;
}
table tr td:hover {
  background-color: rgba(134, 97, 16, 0.32);
  border-radius: 50px;
  cursor: pointer;
}
table tr td:nth-child(3) {
  text-align: center;
}
table ul li {
  list-style: none;
}
