.documents-container {
  // height: 40px;
  // margin-top: -4%;
}

// .documents-container ul li {
// }

ul.icon li {
  list-style: none;
  // display: inline;
  float: left;
  padding: 2% 0 0 5.5%;
  margin-bottom: -10px;
  width: 18%;
  text-align: center;

}

ul.text li {
  list-style: none;
  // display: inline;
  float: left;
  // margin-top: -5%;
  padding: 0 0 0 5.5%;
  width: 18%;
  text-align: center;
}
