img[src="/assets/phone.png"] {
  margin: 2% 0 3% 47%;
  // width: 100%;
}

.mainFooter {
  margin: 0 0 5% 28.3%;
}

.mainFooter img {
  display: inline;
  // width: 4%;
  // height: auto;
  // left: 25.3%;
  // margin: 1% 1% 0 1%;
  /*width: 100%;
  height: auto;
  position: relative;
  margin: 2% 10% 0 10%;*/
}

footer ul li {
  width: 7%;
  list-style: none;
  float: left;
  display: inline-block;
  // line-height: 300%;
}
//
// img[src="img/phone.png"] {
//   position: relative;
//   display: block;
//   text-align: center;
//   margin: 0 0 4% 47.5%;
//   cursor: pointer;
//   z-index: 100;
// }
//
// img[src="img/pay.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 14.8%;*/
//   /*padding-left: 20%;*/
//   z-index: 100;
// }
//
// img[src="img/certcontr.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/links.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 11%;*/
//   z-index: 100;
// }
//
// img[src="img/youtube.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 13%;*/
//   z-index: 100;
// }
//
// img[src="img/tw.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/facebook.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/email.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/about.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2%;*/
//   z-index: 100;
// }
