img[src="/assets/phone.png"] {
  margin: 2% 0 3% 47%;
}

.mainFooter {
  margin: 0 0 5% 28.3%;
}

div.p-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.p-footer-title {
    position: relative;
    top: -16px;
    left: -15%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
    text-align: center;
}
div.c-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.c-footer-title {
    position: relative;
    top: -16px;
    left: -8%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
div.i-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.i-footer-title {
    position: relative;
    top: -16px;
    left: -8%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
div.y-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.y-footer-title {
    position: relative;
    top: -16px;
    left: 6.5%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
div.t-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.t-footer-title {
    position: relative;
    top: -16px;
    left: 10%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
div.f-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.f-footer-title {
    position: relative;
    top: -16px;
    left: 1%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
div.e-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.e-footer-title {
    position: relative;
    top: -16px;
    left: 8%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}
div.a-footer-title {
  font-size: .7em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s linear;
}
a:hover + div.a-footer-title {
    position: relative;
    top: -16px;
    left: 3%;
    text-shadow: 1px 1px rgba(#4b4b4b, 0.54);
    visibility: visible;
    opacity: 1;
    overflow:hidden;
}

.mainFooter img {
  display: inline;
}

footer ul li {
  width: 7%;
  list-style: none;
  float: left;
  display: inline-block;
  // line-height: 300%;
}




/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  /*position: relative;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-25px) scale(1.5);
  transform: translateY(-25px) scale(1.5);

}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}






//
// img[src="img/phone.png"] {
//   position: relative;
//   display: block;
//   text-align: center;
//   margin: 0 0 4% 47.5%;
//   cursor: pointer;
//   z-index: 100;
// }
//
// img[src="img/pay.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 14.8%;*/
//   /*padding-left: 20%;*/
//   z-index: 100;
// }
//
// img[src="img/certcontr.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/links.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 11%;*/
//   z-index: 100;
// }
//
// img[src="img/youtube.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 13%;*/
//   z-index: 100;
// }
//
// img[src="img/tw.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/facebook.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/email.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2.5%;*/
//   z-index: 100;
// }
//
// img[src="img/about.png"] {
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   /*margin-left: 2%;*/
//   z-index: 100;
// }
