div.mainContent-container {
  width: 100%;
  margin: 3% 10% -3% 10%;
  position: relative;
  list-style: none;
  ul {
    list-style: none;
  }
  img {
    position: relative;
    display: inline;
    width: 20%;
    margin: 1% 1% 5% 4%;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 10px 10px 20px 1px grey;
  }
  ul li h6.thermal-text {
    position: absolute;
    font-size: 1.5em;
    margin: 0 0 0 7.6%;
    // width: 22%;
    line-height: 150%;
    top: 7.1%;
    text-align: center;
    font-weight: 500;
    font-family: "Trajan Pro";
    cursor: pointer;
  }
  ul li h6.corrosion-text {
    position: absolute;
    font-size: 1.5em;
    margin: 0 0 0 31.75%;
    // width: 72.9%;
    line-height: 150%;
    top: 7.1%;
    text-align: center;
    font-weight: 500;
    font-family: "Trajan Pro";
    cursor: pointer;
  }
  ul li h6.fire-text {
    position: absolute;
    font-size: 1.5em;
    margin: 0 0 0 60%;
    // width: 123.8%;
    line-height: 150%;
    top: 7.1%;
    text-align: center;
    font-weight: 500;
    font-family: "Trajan Pro";
    cursor: pointer;
  }
}

.intro {
  padding: .1% 1% 0 1%;
  margin-top: 1%;
  width: 95%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Raleway';
  font-weight: 500;
}

.thermal-content-main {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #262626;
  background-size: 47% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.corrosion-content-main {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #262626;
  background-size: 47% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.fire-content-main {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #262626;
  background-size: 47% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.thermal-parallax {
  // position: absolute;
  position: relative;
  top: -200px;
  display: none;
}
.corrosion-parallax {
  display: none;
}
.fire-parallax {
  display: none;
}
