div.mainContent-container {
  width: 100%;
  margin: 3% 10% -3% 10%;
  position: relative;
  list-style: none;
  ul {
    list-style: none;
    // display: none;
  }
  img {
    position: relative;
    display: inline;
    width: 20%;
    margin: 1% 1% 5% 4%;
    border: 1px solid black;
    // z-index: -100;
    // list-style: none;
  }
  ul li h6.thermal-text {
    position: absolute;
    font-size: 1.5em;
    width: 22%;
    line-height: 150%;
    top: 2.5%;
    text-align: center;
    font-weight: 500;
    font-family: "Trajan Pro";
  }
  ul li h6.corrosion-text {
    position: absolute;
    font-size: 1.5em;
    width: 72.9%;
    line-height: 150%;
    top: 2.5%;
    text-align: center;
    font-weight: 500;
    font-family: "Trajan Pro";
  }
  ul li h6.fire-text {
    position: absolute;
    font-size: 1.5em;
    width: 123.8%;
    line-height: 150%;
    top: 2.5%;
    text-align: center;
    font-weight: 500;
    font-family: "Trajan Pro";
  }
}

// ul.main-text {
//   // position: absolute;
//   width: 100%;
//   margin-left: 1.5%;
//   font-size: 1.5em;
// }
//
// ul.main-text li span {
//   position: absolute;
//   padding: 1% 3.5%;
//   // float: left;
//   // margin: 2.2% 0 0 0;
//   // width: 26%;
//   // text-align: center;
//   // z-index: 100;
// }

// ul.main-text li:nth-child(2) {
//   position: absolute;
//   // list-style: none;
//   // // float: left;
//   padding: 1% 28.5%;
//   // // margin: 2.2% 0 0 0;
//   // // width: 68%;
//   // text-align: center;
//   // z-index: 100;
// }
//
// ul.main-text li:nth-child(3) {
//   position: absolute;
//   padding: 1% 56.5%;
//   // list-style: none;
//   // float: left;
//   // margin: 2.2% 0 0 0;
//   // width: 146%;
//   // text-align: center;
//   // z-index: 100;
// }

.intro {
  /*display: inline-block;*/
  /*position: relative;*/
  padding: .1% 1% 0 1%;
  margin-top: 1%;
  // /*margin: 400px 10px 40px 10px;*/
  width: 95%;
  text-align: center;
  font-size: 1.5em;
  // line-height: 150%;
  // font-weight: 300;
  // color: grey;
  // color: black;
  font-family: 'Raleway';
  font-weight: 500;
}
// .mainContent {
//   width: 100%;
//   margin: 2% 1%;
//   // position: absolute;
//   /*bottom: 4px;*/
//   // left: 3.5%;
//   display: inline;
//   float: left;
//   img {
//     display: inline;
//     width: 22%;
//     float: left;
//     height: auto;
//     margin: 2% 2.7%;
//     background-color: #FFF;
//   }
// }


// .thermal-white {
//   img {
//     width: 27%;
//     height: 10%;
//   }
//   display: inline;
//   margin: 0 0 0 5%;
// }
//
// .corrosion-white {
//   img {
//     width: 27%;
//     height: 10%;
//   }
//   /*width: 27%;*/
//   display: inline;
// }
//
// .fire-white {
//   img {
//     width: 27%;
//     height: 10%;
//   }
//   /*width: 27%;*/
//   display: inline;
// }

/*#text {
  position: absolute;
  width: 20%;
  margin: 0 0 0 100px;
}*/
// .thermal-text {
//   position: absolute;
//   top: 60px;
//   left: 145px;
//   /*height: auto;*/
//   width: 1%;
// }
//
// .corrosion-text {
//   position: absolute;
//   top: 60px;
//   left: 457px;
//   width: 1%;
//   font-size: 2em;
//   font-family: "Trajan Pro";
// }
//
// .fire-text {
//   position: absolute;
//   top: 60px;
//   left: 840px;
//   width: 1%;
//   font-size: 2em;
//   font-family: "Trajan Pro";
// }



// img[src="/assets/phone.png"] {
//   // position: relative;
//   display: block;
//   text-align: center;
//   // width: 59%;
//   height: auto;
//   // margin: -10px 100px 0 0;
//   cursor: pointer;
//   z-index: 1000;
// }








// .mainContent-container {
//   width: 95%;
//   position: absolute;
//   /*bottom: 4px;*/
//   left: 3.5%;
// }
//
// .mainContent {
//   width: auto;
//   height: auto;
//   position: relative;
// }
//
// .content ul li {
//   width: 8%;
// }
//
//
// .content img {
//   display: inline;
//   width: 24%;
//   height: auto;
//   margin: 2% 2.7%;
//   border: 1px solid black;
//   background-color: #FFF;
// }
//
// .thermal-white {
//   /*width: 27%;*/
//   display: inline;
//   margin: 0 0 0 5%;
// }
//
// .corrosion-white {
//   /*width: 27%;*/
//   display: inline;
// }
//
// .fire-white {
//   /*width: 27%;*/
//   display: inline;
// }
//
// /*#text {
//   position: absolute;
//   width: 20%;
//   margin: 0 0 0 100px;
// }*/
// ul.main-text {
//   margin-left: 2.5%;
//   font-size: 1em;
//   font-family: "Trajan Pro";
// }
//
// ul.main-text li {
//   position: absolute;
//   list-style: none;
//   float: left;
//   margin: 2.2% 0 0 0;
//   width: 26%;
//   text-align: center;
//   z-index: 100;
// }
//
// ul.main-text li:nth-child(2) {
//   position: absolute;
//   list-style: none;
//   float: left;
//   margin: 2.2% 0 0 0;
//   width: 86%;
//   text-align: center;
//   z-index: 100;
// }
//
// ul.main-text li:nth-child(3) {
//   position: absolute;
//   list-style: none;
//   float: left;
//   margin: 2.2% 0 0 0;
//   width: 146%;
//   text-align: center;
//   z-index: 100;
// }
//
// .thermal-text {
//   position: absolute;
//   top: 60px;
//   left: 145px;
//   /*height: auto;*/
//   width: 1%;
// }
//
// .corrosion-text {
//   position: absolute;
//   top: 60px;
//   left: 457px;
//   width: 1%;
//   font-size: 2em;
//   font-family: "Trajan Pro";
// }
//
// .fire-text {
//   position: absolute;
//   top: 60px;
//   left: 840px;
//   width: 1%;
//   font-size: 2em;
//   font-family: "Trajan Pro";
// }
//
//
// .intro {
//   /*display: inline-block;*/
//   /*position: relative;*/
//   padding: 1.5% 5% 0 5%;
//   margin-top: 25%;
//   /*margin: 400px 10px 40px 10px;*/
//   width: auto;
//   text-align: center;
//   font-size: 1.5em;
//   line-height: 150%;
//   font-weight: 300;
//   color: grey;
//   color: black;
//   font-family: 'Raleway';
//   font-weight: 400;
// }
//
// img[src="/assets/phone.png"] {
//   // position: relative;
//   display: block;
//   text-align: center;
//   // width: 59%;
//   height: auto;
//   // margin: -10px 100px 0 0;
//   cursor: pointer;
//   z-index: 1000;
// }
