.industry-links-container {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  width: 90%;
  margin: 3% 10% 0 7%;
}

.industry-links-background {
  position: fixed;
  margin: 1% 0 0 22%;
  opacity: 0.05;
  z-index: 1;
}

.industry-links {
  text-align: center;
  width: 80%;
  margin: 0 0 1% 10%;
  font-family: 'Nunito', sans-serif;
  font-size: .4em;
  line-height: 150%;
}

img[src="/assets/phone.png"] {
  margin: 4.5% 47%;
  // width: 100%;
}
