
.mainHeader img {
  width: 30%;
  height: auto;
}

.mainHeader nav {
  height: 40px;
  margin-top: -4%;
}

.mainHeader nav ul li:nth-child(1) {
  margin-left: 30%;
}

.mainHeader nav ul li {
  font-size: 1.2em;
  font-weight: 100;
  float: left;
  font-size: 1.2em;
  display: inline;
  padding-left: 10%;
}

.mainHeader .search {
  width: 6%;
  height: auto;
  float: right;
  margin: -8% 4.2% 0 0;
  clear: none;
  z-index: 1;
}

.mainHeader .product-inventory {
  width: 11%;
  height: auto;
  float: right;
  margin: -4% 0 0 0;
  clear: both;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid black;
  width: 98%;
  margin: -.8% 0 .5% 1%;
}




/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #0c1fc7;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
