* {
box-sizing: border-box;
margin: auto;
}

img {
max-width: 100%;
height: auto;
}
h1,h2,h3,h4,h5,h6 {
font-family: 'Roboto';
line-height: 1.313em;
}
h1 {
font-size: 3em;
margin: 0.563em 0;
}
h2 {
font-size: 2.25em;
text-align: center;
margin: 0.625em 0;
}
h3 {
font-size: 1em;
margin: 1.313em 0;
text-align: center;
}
h4 {
font-size: 1.313em;
margin: 1.313em 0;
}
h5 {
font-size: 1.125em;
margin: 1.313em 0;
}
h6 {
font-size: 1em;
margin: 0.75em 0;
}

img[src="/assets/shadow-1.png"] {
  position: absolute;
  margin-top: 12.7em;
  left: 3em;
  width: 49%;
  z-index: 100;
}
img[src="/assets/shadow-2.png"] {
  position: absolute;
  margin-top: -5.3em;
  left: 3em;
  width: 49%;
  z-index: 100;
}

.parallax-content {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 0 0 -35%;
  font-size: 1rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.right {
  padding: 1em 1em 1em 50%;
  background-position: 0 50%;
  margin: 0 0 0 -10em;
}

.left {
  padding: 1em 53% 1em 1em;
  background-position: 100% 40%;
}

.separator {
  // position: relative;
  font-size: 1.875rem;
  // display: block;
  // margin: 26em auto;
  // padding: 25.618em 0;
  text-align: center;
}

.illustration_01-supertherm {
  // background-color: #00c17b;
  // padding: 1em 0;
  width: 92%;
  // top: 1000px;
  margin: 12.9% 0 0 5%;
   background-image: url("/assets/supertherm-12.jpg");
 background-attachment: fixed;
 background-position: 2% 60%;
 // background-repeat: no-repeat;
}

.illustration_02-supertherm {
  // width: 10px;
  background-color: rgba(129, 80, 16, 0.69);
  margin: 0 0 0 0;
  background-image: url("/assets/supertherm-11.jpg");
}

.illustration_03-supertherm {
  // width: auto;
  margin: 0 0 0 0;
  // margin: auto;
  background-color: grey;
  background-image: url("/assets/supertherm-3.jpg");
}
.illustration_04-supertherm {
  // width: auto;
  margin: 0 0 0 0;
  // margin: auto;
  background-color: white;
  background-image: url("/assets/Supertherm-9.jpg");
}
