.products-container {
  // position: relative;
  font-size: 2.5em;
  columns: 2;
  // width: 100%;
  margin: 2% 0 3% 14.5%;
  display: table;
  // text-align: center;

  h6 {
    font-family: 'Arial';
    font-weight: 300;
    // display: none;
  }
}

.products-background {
  // width: 20%;

  position: fixed;
  margin: 0 1% 0 20%;
  opacity: 0.05;
  z-index: -1;
}


.products-list {
  font-size: 1.7em;
}

.thermal-list button {
  background-color: rgba(134, 97, 16, 0.32);
}

.corrosion-list button {
  background-color: rgba(134, 97, 16, 0.32);
}

.fire-list button {
  background-color: rgba(149, 39, 4, 0.32);
}

.concrete-list button {
  background-color: rgba(61, 61, 60, 0.32);
}

.graffiti-list button {
  background-color: rgba(7, 4, 152, 0.32);
}

.hot-surface-name {
  font-size: .7em;
}

.button {
  // display: block;
  padding: 0 5px;
  font-size: .35em;
  cursor: pointer;
  text-align: center;
  // text-decoration: none;
  // outline: none;
  // color: #fff;
  background-color: rgba(134, 97, 16, 0.32);
  // border: none;
  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  height: 90px;
  margin: 2% 1% 1% 4%;
  // columns: 2;
  display: -webkit-flex; /* Safari */
  display: flex;
  // word-wrap: break-word;
  // line-height: 200%;
  a {
    font-size: 1em;
    margin: 1.2% 4% 0 0;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    float: left;
    // display: none;
    // display: flex;

  }
  .description {
    // position: absolute;
    float: right;
    font-size: .45em;
    // display: none;
    // padding: 1% 6% 0 0;
    // margin-top: 1%;
  }
  i {
    position: relative;
    font-size: .5em;
    // display: block;
    // text-align: center;
  }
}

.hot-surface-db {
  font-size: 33%;
  // padding: 10px 0 0px 0;
}
.button:hover {background-color: rgba(144, 144, 143, 0.32)}

.button:active {
  background-color: rgba(134, 97, 16, 0.32);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
