.products-container {
  font-size: 2.5em;
  columns: 2;
  margin: 2% 0 3% 14.5%;
  display: table;
  h6 {
    font-family: 'Arial';
    font-weight: 300;
  }
}

.products-background {
  position: fixed;
  margin: 0 1% 0 20%;
  opacity: 0.05;
  z-index: -1;
}


.products-list {
  font-size: 1.7em;
}

.thermal-list button {
  background-color: rgba(134, 97, 16, 0.32);
}

.corrosion-list button {
  background-color: rgba(134, 97, 16, 0.32);
}

.fire-list button {
  background-color: rgba(149, 39, 4, 0.32);
}

.concrete-list button {
  background-color: rgba(61, 61, 60, 0.32);
}

.graffiti-list button {
  background-color: rgba(7, 4, 152, 0.32);
}

.hot-surface-name {
  font-size: .7em;
}

.button {
  padding: 0 5px;
  font-size: .35em;
  cursor: pointer;
  text-align: center;
  background-color: rgba(134, 97, 16, 0.32);  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  height: 90px;
  margin: 2% 1% 1% 4%;
  display: -webkit-flex; /* Safari */
  display: flex;
  a {
    font-size: 1em;
    margin: .5% 0% 0 0;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    float: left;
  }
  .description {
    position: relative;
    top: -7px;
    float: right;
    margin: 0 3% 0 0;
    font-size: .45em;
    font-style: italic;
  }
  i {
    position: relative;
    font-size: .5em;
    top: 0;
  }
}

.totalseal-db {
  padding: 0 5px;
  font-size: .35em;
  cursor: pointer;
  text-align: center;
  background-color: rgba(134, 97, 16, 0.32);  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  height: 90px;
  margin: 2% 1% 1% 4%;
  display: -webkit-flex; /* Safari */
  display: flex;
  span {
    position: relative;
    top: -10px;
  }
  .description-us {
    position: relative;
    top: 6px;
    float: right;
    margin: 0 3% 0 0;
    font-size: .45em;
    font-style: italic;
  }
  i {
    position: relative;
    top: -10px;
  }
}

.totalseal-hs-db {
  padding: 0 5px;
  font-size: .35em;
  cursor: pointer;
  text-align: center;
  background-color: rgba(134, 97, 16, 0.32);  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  height: 90px;
  margin: 2% 1% 1% 4%;
  display: -webkit-flex; /* Safari */
  display: flex;
  span {
    position: relative;
    top: -10px;
  }
  .totalseal-hs-description-us {
    position: relative;
    top: 6px;
    float: right;
    margin: 0 3% 0 0;
    font-size: .45em;
    font-style: italic;
  }
  i {
    position: relative;
    top: -10px;
  }
}

.enamogrip-clear-db {
  padding: 0 5px;
  font-size: .35em;
  cursor: pointer;
  text-align: center;
  background-color: rgba(134, 97, 16, 0.32);  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  height: 90px;
  margin: 2% 1% 1% 4%;
  display: -webkit-flex; /* Safari */
  display: flex;
  span {
    position: relative;
    top: -10px;
  }
  .enamogrip-clear-description-us {
    position: relative;
    top: 6px;
    float: right;
    margin: 0 3% 0 0;
    font-size: .45em;
    font-style: italic;
  }
  i {
    position: relative;
    top: -10px;
  }
}

.enamogrip-3700-db {
  padding: 0 5px;
  font-size: .35em;
  cursor: pointer;
  text-align: center;
  background-color: rgba(134, 97, 16, 0.32);  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  height: 90px;
  margin: 2% 1% 1% 4%;
  display: -webkit-flex; /* Safari */
  display: flex;
  span {
    position: relative;
    top: -10px;
  }
  .enamogrip-3700-description-us {
    position: relative;
    top: 6px;
    float: right;
    margin: 0 3% 0 0;
    font-size: .45em;
    font-style: italic;
  }
  i {
    position: relative;
    top: -10px;
  }
}

.graffiti-db {
  // padding: 0 5px;
  // font-size: .35em;
  // cursor: pointer;
  // text-align: center;
  // background-color: rgba(134, 97, 16, 0.32);  border-radius: 25px;
  // box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  // float: left;
  // width: 430px;
  // height: 90px;
  // margin: 2% 1% 1% 24%;
  // display: -webkit-flex; /* Safari */
  // display: flex;
}
.hot-surface-db {
  font-size: 33%;
}
.button:hover {background-color: rgba(144, 144, 143, 0.32)}

.button:active {
  background-color: rgba(134, 97, 16, 0.32);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
