<%= render 'layouts/nav' %>

<div class="products-container">
  <h6>Product Database</h6>
    <div class="products-background">
      <img src="/assets/inventory.png" alt="" height="550px" width="450px" />
    </div>

    <div class="products-list">

      <div class="thermal-list">
        <!-- <button class="supertherm-db button" > -->
        <button class="supertherm-db button">
          <a href="/products/supertherm" >SuperTHERM<sup>®</sup>
            <p class="description">Multi Layer Ceramic Insulation Coating</p>
<br>
            <i>Engineered to Repel Radiated Heat.</i>
          </a>
        <!-- </button> -->

        <button class="sunshield-db button">
          <a href="/products/sunshield" class="product-name" >SunSHIELD<sup>®</sup>

            <p class="description">Multi Layer Ceramic Insulation Coating</p>
  <br>
            <i>Engineered to Repel Radiated Heat.</i>
          </a>
        </button>

        <button class="epoxotherm-db button">
          <a href="/products/epoxotherm" class="product-name" >EpoxoTHERM<sup>®</sup>
            <sup class="description">Multi Layer Ceramic Insulation Coating</sup>
  <br>
            <i>Engineered to Repel Radiated Heat.</i>
          </a>
        </button>

        <button class="hot-surface-db button">
          <a href="/products/hotsurface" class="hot-surface-name" >Hot-Surface COATING<sup>®</sup>
            <sup class="description">Multi-Layer Ceramic Insulation Coating</sup>
  <br>
          <i>Engineered to Block Conducted Heat.</i>
          <!-- <span class="mid-temp"><br>Mid Temp (200°F \ 93.33°C to 350°F \ 177°C) </span> -->
          </a>
        </button>

        <button class="hot-pipe-db button">
          <a href="/products/hotpipe" class="product-name" >Hot-Pipe COATING<sup>®</sup>
            <sup class="description">Multi-Layer Ceramic Insulation Coating</sup>
  <br>
          <i>Engineered to Block Conducted Heat.</i>
          </a>
        </button>
      </div>

      <div class="corrosion-list">
        <button class="rust-grip-db button">
          <a href="/products/rustgrip" >RustGRIP<sup>®</sup>
  <br>
          <i>Rust and Bio Hazard Encapsulation.</i>
          </a>
        </button>

        <button class="rust-grip-1000-db button">
          <a href="/products/rustgrip1000" >RustGRIP 1000<sup>®</sup>
<br>
          <i>Low VOC.</i>
          </a>
        </button>

        <button class="rust-grip-e-db button">
          <a href="/products/rustgripe" >RustGRIP-E<sup>®</sup>
  <br>
          <i>For under-water / moist applications.</i>
          </a>
        </button>

        <button class="moist-metal-db button">
          <a href="/products/moistmetal" >Moist Metal GRIP<sup>®</sup>
            <br>
            <i>Applied to WET metal surfaces.</i>
          </a>
        </button>

        <button class="lining-kote-db button">
          <a href="/products/liningkote" >Lining-Kote UHS<sup>®</sup>
          <br>
          <i>Extreme Acid exposure.</i>
          </a>
        </button>
    </div>

    <div class="fire-list">
      <button class="omega-fire-db button">
        <a href="/products/omegafire" >Omega FIRE<sup>®</sup>
        <br>
        <i>1-3 Hour Fire Resistance Rating.</i>
        </a>
      </button>

      <button class="penetrating-db button">
        <a href="/products/penetratingchemical" >Penetrating Chemical
        <br>
        <i>Class "A" Flame Spread Rating.</i>
        </a>
      </button>

      <button class="interior-latex-db button">
        <a href="/products/interiorlatex" >Interior Latex
        <br>
        <i>Intumescent Class "A" Flame Spread Rating.</i>
        </a>
      </button>

      <button class="polyurethane-db button">
        <a href="/products/polyurethane" >Polyurethane
        <br>
        <i>Intumescent Class "A" Flame Spread Rating.</i>
        </a>
      </button>

      <button class="safecoat-db button">
        <a href="/products/safecoat" >SafeCOAT PVC
        <br>
        <i>Intumescent Class "A" Flame Spread Rating.</i>
        </a>
      </button>
    </div>

    <div class="concrete-list">
      <button class="sp-interlock-db button">
        <a href="/products/spinterlock" >SP InterLOCK / InnerSEAL<sup>®</sup>
        <br>
        <i>Permanent Concrete remediation and protection.</i></a>
      </button>

      <button class="superbase-db button">
        <a href="/products/superbase" >SuperBASE(HS)<sup>®</sup>
        <br>
        <i>Acrylic caulking / membrane.</i>
        </a>
      </button>

      <button class="totalseal-db button">
        <a href="/products/totalseal" >
          <sup class="description-us">(U.S. only)</sup>
          <br>
          <span>TotalSEAL<sup>®</sup></span>
        <br>
        <i>Applied to damp concrete US customers only.</i>
        </a>
      </button>

      <button class="totalseal-hs-db button">
        <a href="totalsealhs">
          <sup class="totalseal-hs-description-us">(U.S. only)</sup>
          <br>
          <span>TotalSEAL(HS)<sup>®</sup></span>
          <br>
          <i>High Solids \ High Build.</i>
        </a>
      </button>

      <button class="liquid-membrane-db button">
        <a href="/products/liquidmembrane" >Liquid Membrane<sup>®</sup>
          <br>
        </a>
      </button>
    </div>

    <div class="graffiti-list">
      <button class="enamogrip-db button">
        <a href="/products/enamogripcolour" >EnamoGRIP(Coloured)<sup>®</sup>
          <br>
          <i>For low maintenance.</i>
        </a>
      </button>

      <button class="enamogrip-clear-db button">
        <a href="/products/enamogripclear" >
          <sup class="enamogrip-clear-description-us">(U.S. only)</sup>
          <br>
          <span>EnamoGRIP(Clear)<sup>®</sup></span>
          <br>
          <i>High Solids \ High Build.</i>
        </a>
      </button>

      <button class="enamogrip-1000-db button">
        <a href="/products/enamogripclear1000" >EnamoGRIP<sup>®</sup>&nbsp1000
          <br>
          <i>Aliphatic polyurethane enamel pH 5-10.</i>
        </a>
      </button>

      <button class="enamogrip-3700-db button">
        <a href="/products/enamogripclear3700" >
          <sup class="enamogrip-3700-description-us">(U.S. only)</sup>
          <br>
          <span>EnamoGRIP<sup>®</sup>&nbsp3700</span>
          <br>
          <i>Aliphatic polyurethane enamel with silicone additive.</i>
        </a>
      </button>

      <button class="enamogrip-5000-db button">
        <a href="/products/enamogripclear5000" >EnamoGRIP<sup>®</sup>&nbsp5000
          <br>
          <i>Aliphatic polyurethane enamel pH 5-10.</i>
        </a>
      </button>

      <button class="aquapox-db button">
        <a href="/products/aquapox" >AquaPOX<sup>®</sup>
          <br>
          <i>Interior concrete sealing with no solvent odour.</i>
        </a>
      </button>

      <button class="graffiti-db button">
        <a href="/products/graffiticleaner" >Graffiti CLEANER<sup>®</sup>
          <br>
          <i>Non flammable and 100% biodegradable - Environmentally friendly</i>
        </a>
      </button>
    </div>

  </div>

</div>

<%= render 'layouts/footer' %>
    <!-- <div class="phone">
      <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
    </div>


      <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


    <a href="http://www.spicoatings.com/" class="auth"> -->
