<%= render 'layouts/nav' %>

<div class="products-container">
  <h6>
    Product Database
  </h6>
  <div class="products-background">
    <img src="/assets/inventory.png" alt="" height="550px" width="450px" />
  </div>

    <div class="products-list">
      <!-- Product Database -->
      <div class="thermal-list">

        <button class="supertherm-db button" >
          <a href="/products/supertherm" class="product-name" >SuperTHERM<sup>®</sup>
            <sup class="description">Multi Layer Ceramic Insulation Coating</sup>
  <br>
            <i>Engineered to Repel Radiated Heat.</i>
          </a>
        </button>

        <button class="sunshield-db button">
          <a href="/products/sunshield" class="product-name" >SunSHIELD<sup>®</sup>
            <sup class="description">Multi Layer Ceramic Insulation Coating</sup>
  <br>
            <i>Engineered to Repel Radiated Heat.</i>
          </a>
        </button>

        <button class="epoxotherm-db button">
          <a href="/products/epoxotherm" class="product-name" >EpoxoTHERM<sup>®</sup>
            <sup class="description">Multi Layer Ceramic Insulation Coating</sup>
  <br>
            <i>Engineered to Repel Radiated Heat.</i>
          </a>
        </button>

        <button class="hot-surface-db button">
          <a href="/products/hotsurface" class="hot-surface-name" >Hot-Surface COATING<sup>®</sup>
            <sup class="description">Multi-Layer Ceramic Insulation Coating</sup>
  <br>
          <i>Engineered to Block Conducted Heat.</i>
          <!-- <span class="mid-temp"><br>Mid Temp (200°F \ 93.33°C to 350°F \ 177°C) </span> -->
          </a>
        </button>

        <button class="hot-pipe-db button">
          <a href="/products/hotpipe" class="product-name" >Hot-Pipe COATING<sup>®</sup></a>

        </button>
      </div>

    <div class="corrosion-list">
        <button class="rust-grip-db button">
          <a href="/products/rustgrip" >RustGRIP<sup>®</sup></a>
        </button>

        <button class="rust-grip-1000-db button">
          <a href="/products/rustgrip1000" >RustGRIP 1000<sup>®</sup></a>
        </button>

        <button class="rust-grip-e-db button">
          <a href="/products/rustgripe" >RustGRIP-E<sup>®</sup></a>
        </button>

        <button class="moist-metal-db button">
          <a href="/products/moistmetal" >Moist Metal GRIP<sup>®</sup></a>
        </button>

        <button class="lining-kote-db button">
          <a href="/products/liningkote" >Lining-Kote UHS<sup>®</sup></a>
        </button>
    </div>

    <div class="fire-list">

      <button class="omega-fire-db button">
        <a href="/products/omegafire" >Omega FIRE<sup>®</sup></a>
      </button>


      <button class="penetrating-db button">
        <a href="/products/penetratingchemical" >Penetrating Chemical</a>
      </button>


      <button class="interior-latex-db button">
        <a href="/products/interiorlatex" >Interior Latex</a>
      </button>


      <button class="polyurethane-db button">
        <a href="/products/polyurethane" >Polyurethane</a>
      </button>


      <button class="safecoat-db button">
        <a href="/products/safecoat" >SafeCOAT PVC</a>
      </button>

    </div>

    <div class="concrete-list">

      <button class="sp-interlock-db button">
        <a href="/products/spinterlock" >SP InterLOCK / InnerSEAL<sup>®</sup></a>
      </button>


      <button class="superbase-db button">
        <a href="/products/superbase" >SuperBASE(HS)<sup>®</sup></a>
      </button>


      <button class="totalseal-db button">
        <a href="/products/totalseal" >TotalSEAL<sup>®</sup><i>(U.S. only)</i></a>
      </button>


      <button class="totalseal-hs-db button">
        <a href="totalsealhs">TotalSEAL(HS)<sup>®</sup></a>
      </button>


      <button class="liquid-membrane-db button">
        <a href="/products/liquidmembrane" >Liquid Membrane<sup>®</sup></a>
      </button>

    </div>

    <div class="graffiti-list">

      <button class="enamogrip-db button">
        <a href="/products/enamogripcolour" >EnamoGRIP(Coloured)<sup>®</sup></a>
      </button>


      <button class="enamogrip-clear-db button">
        <a href="/products/enamogripclear" >EnamoGRIP(Clear) <sup>®</sup><i>(U.S. only)</i></a>
      </button>


      <button class="enamogrip-1000-db button">
        <a href="/products/enamogripclear1000" >EnamoGRIP(Clear) 1000<sup>®</sup></a>
      </button>


      <button class="enamogrip-3700-db button">
        <a href="/products/enamogripclear3700" >EnamoGRIP(Clear) 3700 <sup>®</sup><i>(U.S. only)</i></a>
      </button>


      <button class="enamogrip-5000-db button">
        <a href="/products/enamogripclear5000" >EnamoGRIP(Clear) 5000<sup>®</sup></a>
      </button>


      <button class="aquapox-db button">
        <a href="/products/aquapox" >AquaPOX<sup>®</sup></a>
      </button>


      <button class="graffiti-db button">
        <a href="/products/graffiticleaner" >Graffiti CLEANER<sup>®</sup></a>
      </div>

    </button>

</div>

    <!-- <div class="phone">
      <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
    </div>


      <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


    <a href="http://www.spicoatings.com/" class="auth"> -->
