<%= render 'layouts/nav' %>
<%= render 'layouts/documents' %>

<div class="supertherm-container">
  <img src="/assets/shadow-1.png" alt="" class="" />
  <div class="supertherm-parallax-content right illustration_01-supertherm">
    <h2>SuperTHERM<sup>®</sup></h2>
      <p>Enhancement of insulation effect from residential to INDUSTRIAL and everything in between!</p>

      <p>SUPERTHERM<sup>®</sup> is a unique single component combination of high performance aliphatic urethanes, elastomeric acrylics, standard acrylics and resin additives in a water borne formula. No co-solvents are present and will dry by evaporation. Due to the unique combination of acrylics and urethanes, SUPERTHERM ® cures out completely in 14 - 21 days to an extremely tough, durable, non-yellowing, water resistant coating that also provides flexibility, water proofing and UV stability. SUPERTHERM ® has passed 2000 hours of salt spray testing which equals marine specifications and in fact has DNV certification.</p>

      <p>SUPERTHERM<sup>®</sup> was built to meet the requirements of industrial uses which required a tough surface, and provide flexibility against stresses of contraction and expansion. Also, unlike all other "reflective" paints on the market which offer only a single reflective ceramic to provide heat reflection, SUPERTHERM ® is designed with four separate ceramic compounds for insulation from radiant heat, reflection, conduction and convection. SUPERTHERM ® ceramics are not the rough multifaceted type as the one found   in other coatings. </p>

      <img src="/assets/shadow-2.png" alt="" class="" />
  </div>

 <section class="separator">
   <h3>SuperTHERM<sup>®</sup> liquid ceramic insulation coating is a non-deteriorating (water proof) r19 insulation</h3>
 </section>

  <div class="supertherm-parallax-content left illustration_02-supertherm">
    <h2>EMISSIVITY EXPLAINED & DEMONSTRATED</h2>
      <p>Therefore, SUPERTHERM ® is a true " insulating " coating and not just a reflective paint as are all the competing formulas in the market. Also tested by the Thermo Physical Research Laboratory for comparative R19 equivalent insulation factor SUPERTHERM ® blocked 92% of the heat. No other R19 equivalent insulator can claim that! No Fiberglass, No Foam, No Cellulose, No other single ceramic paint!</p>

      <p>RUST GRIP COATING FOR HARSH ENVIRONMENT PROTECTION
        The difference between a surface coating and RUSTGRIP! ®
        A surface coating does not have the special solvent carrier to allow it to enter the pores of a substrate and carry the body of the coating into the pores with it. The surface coating will bite into anything above the pore area and adhere to the surface by attaching to any roughness. This works well in most areas until the surface of the coating is exposed to weathering and other elements over time allowing oxidation and acid rain to enter through its pin holes and begin the migration of corrosion.</p>

  </div>

<section class="separator">
  <h3>SUPERTHERM ® ADDRESSES ALL THREE MODES OF HEAT TRANSFER!
REPELS RADIATED HEAT ~ REFLECTS CONVECTED HEAT ~ RESISTS CONDUCTED HEAT</h3>
</section>

  <div class="supertherm-parallax-content right illustration_03-supertherm">
    <h2>~ The first ceramic compound is primarily to block Ultra Violet (UV) heat at 99%.</h2>

    <p>

      ~ The second ceramic repels better than 92% of Visual Light (short wave) heat.

      ~ The third ceramic compound is to stop 92% of heat and / or cold conduction by hollow sphere technology which is not glass.

      ~ The fourth ceramic compound is designed specifically for stopping infrared radiated heat. This ceramic blocks 99.5% of Infrared Radiation ( long wave ) to control the heat gain or loss to the envelope of buildings or equipment. This new compound was introduced in February of 2000 as part of our continued research in controlling heat transfer.

      From the BOB VILA blog "The Dean of Home Renovation & Repair Advice"
      "Ceramic Coatings for Increased Insulation"

      - The combination of acrylics provide elasticity and adhesion while the urethane adds toughness, binds the acrylics and compounds and also provides a moisture barrier. The fourth resin additive is what makes the complete resin blend to combine into a single component and extends the life of the coating. This resin / ceramic combination has been shown to repel both heat and fire, withstand elements for 30 to 40 years, endure a 180 degree bend without cracking, resist water, acid rain and ultraviolet light. SUPERTHERM ® is a permanently flexible "breathable" membrane that stops water penetration and prevents corrosion and surface deterioration.
    </p>
    <p> PHYSICAL DATA:
      * Solids: By weight 70% / By volume 60%.
      * Film Thickness: On all substrates SUPERTHERM ® should be applied at 17 mils wet / 10 mils dry.
      - Under no circumstances should SUPERTHERM ® be applied at less than 10 mils dry/ 17 mils wet each coat!
      * Dry Time: One hour to touch at 70°F. degrees and bright sun / Overcoat window is two hours or longer at 70°F. degrees / Fully cures in twenty one days.
      * Lead and chromate free.
      * Cures by evaporation with no co-solvents present.
      * Weight: 11.88 lbs. per gallon.
      * Shelf Life: up to 5 years (unopened) under appropriate storage conditions (see MSDS).
      * VOC Level: 67.2 grams per liter / 0.561 lbs per gallon.
      * pH: 8.5 - 9.0.
      * Viscosity: 105-110 KU.
    </p>
    <p> FEATURES:
      • VOC-Compliant: Only 67.2 grams/liter. Limit is 420 grams. Qualifies under Green Seal limits of 100 grams/liter (g/l) for Flat interior & exterior paints
      • US Consumer Product Safety Commission approved
      • USDA \ CFIA approved for use around foods
      SUPERTHERM ® PROTECTS AGAINST MOLD, MILDEW and other PATHOGENS!
    </p>

    <p>Flame Spread Class " A " Rating with " 0 " flame spread (NASA) (Omega Point Laboratories - ASTM E84 \ UL 723)
      Smoke Developed Class " A " Rating with " 0 "smoke developed (Omega Point Laboratories - ASTM E84)
      " K " Rating with No off gassing (NASA)
    </p>
  </div>
<section class="separator">
  <h3>Asset Protection</h3>
</section>
<div class="supertherm-parallax-content left illustration_04-supertherm">
  <h2>• BOCA Evaluation Services Inc. Certified and listed as "Thermal Insulation Materials"
      • GSA listed with US government <br>
      • Energy Star approved partner</h2>
    <p>Reduction of BTU conduction through a steel plate from 367.2 to 3.99 at a thickness of 10 mils DFT ( 8/1000 " ) This               reduction is written for steel, concrete or any other substrate material. The combination of reflectivity, emissivity and thermal conductivity equals R19 ( ASTM C236 )
    </p>
    <p>
      "R" Value improvement ratio: The ASTM C236 test verified that using SUPERTHERM ® over an existing "R" value material will enhance the total of the "R" value performance of the system. The control fiber glass board tested to K=0.52. When SUPERTHERM ® was applied at the standard 10 mils dry, the certified improvement to the "R" value was 68% . One coat each at 10 mils of SUPERTHERM ® applied to opposite sides of the same "R" rated material improved the "R" performance by 148%. Therefore, based upon the 68% improvement ratio, a minimum of R13 material or system can be improved to R21.8 by applying one coat of SUPERTHERM ®.</p>

    <p> FEATURE
      • Spreads at 95 sf/gallon which gives a thickness of 17 mils Wet (WFT) = 10 mils Dry (DFT)
      • Elongation 125% \ Flexibility 180 degree bend test ( ASTM 1737 - 1/8 " mandrel )
      • Weathering 10 years \ UV resistance - 2000 hours \ Hail resistant to cracking
      • Can withstand acid rain, chemical vapours and direct mild acid splash
      • Salt Spray 2000 + hours \ ASTM B117 Corrosion Test 450 hours ASTM D1654 over black steel Rating procedure B:9
      • Contains anti-flash rusting components
    </p>
    <p>• Sound deadening of 68% is accomplished by blocking sound waves in the same manner as blocking heat waves. Separate testing was performed in association with UNC and Stoughton Trailers. Both recorded the same 68% reduction.
    </p>
  </div>
<section class="separator">
  <h3>(604) 577 - 2212</h3>
</section>
</div>




<div class="certifications-container">
  <h2>Certifications</h2>
  <br>
  <table>
    <tr>
      <th colspan="3">
        ASTM	(American Society for Testing and Materials)
      </th>
    </tr>
    <tr>
      <td>
        <img src="/assets/ASTMlogo.png" alt="" />
        </td>
      <td>

        C 177 Standard Test Method for Steady-State Heat Flux Measurements and Thermal Transmission Properties by Means of the Guarded-Hot-Plate Apparatus

      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        C-236 (C236-89(1993)e1) - Standard Test Method for Steady-State Thermal Performance of Building Assemblies by Means of a Guarded Hot Box - Testing for measuring R-value or Flow Through Rate

      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        C 411 Standard Test Method for Hot-Surface Performance of High-Temperature Thermal Insulation


      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        C 1371Standard Test Method for Determination of Emittance of Materials Near Room Temperature Using Portable Emissometers and
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        C 1549 Standard Test Method for Determination of Solar Reflectance Near Ambient Temperature Using a Portable Solar Reflectometer

      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 412 Standard Test Methods for Vulcanized Rubber and Thermoplastic Elastomers-Tension
        Tensile strength- 444 psi. (modulus of elasticity 13,248 psi)
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 522 Standard Test Methods for Mandrel Bend Test of Attached Organic Coatings- resistance to cracking on metal or rubber type materials
        - 1"(25mm)bend
        - 1/4"(96mm)bend
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 1653 Standard Test Methods for Water Vapor Transmission of Organic Coating Films	 3%
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 1654 Standard Test Method for Evaluation of Painted or Coated Specimens Subjected to Corrosive Environments Salt spray (fog/weathering) 450 Hour Salt Spray (Fog)	 - 2000 hours
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 3273-82T Standard Test Method for Resistance to Growth of Mold on the Surface of Interior Coatings in an Environmental Chamber
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 3274 Standard Test Method for Evaluating Degree of Surface Disfigurement of Paint Films by Microbial (Fungal or Algal) Growth or Soil and Dirt Accumulation
        - Rating degree of fungal growth or soil and dirt accumulation on paint film
        Excellent (8 out of 9)
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 3359 Standard Test Method for Measuring Adhesion by Tape Test	Excellent
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 4060 Standard Test Method for Abrasion Resistance of Organic Coatings by the Taber Abraser	Rated: 5B at 3000 cycles
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 5894-10 Standard Practice for Cyclic Salt Fog/UV Exposure of Painted Metal, (Alternating Exposures in a Fog/Dry Cabinet and a UV/Condensation Cabinet.) The coupons were evaluated for blistering overall in accordance with D 714 - “Standard Test Method for Evaluating Degree of Blistering of Paints.” and rust staining overall in accordance with D 610 - "Standard Practice for Evaluating Degree of Rusting on Painted Steel Surfaces."
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 6904 Standard Practice for Resistance to Wind-Driven Rain for Exterior Coatings Applied to Masonry
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        D 7088 Standard Practice for Resistance to Hydrostatic Pressure for Coatings Used in Below Grade Applications Applied to Masonry
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 84-89a Standard Test Method for Surface Burning Characteristics of Building Materials
        - Flame Index "0"
        - Smoke Index "0" - Class "A" Rating (or Class "1" or Class "I")
        CAN/ULC-S102
        Equivalency Letter
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 96 Standard Test Methods for Water Vapor Transmission of Materials water vapor transmission	Perm Rating - 8.8 avg
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 108 Standard Test Method for Spread of Flame of Roof Coverings	Class "A" Rating
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 119 Standard Test Methods for Fire Tests of Building Construction and Materials
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 413 Standard Classification for Determination of Sound Transmission Class	STC 40
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 514 Standard Test Method for Water Penetration and Leakage Through Masonry Resistance to Wind Driven Rain
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 903-96 Standard Test Method for Solar Absorptance, Reflectance, and Transmittance of Materials Using Integrating Spheres
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 903-96 4 Year Retest
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 1269 Standard Test Method for Determining Specific Heat Capacity by Differential Scanning Calorimetry - TPRL
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E 1461-92 Standard Test Method for Thermal Diffusivity of Solids by the Flash Method
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td>
        E1737 Test Method for J-Integral Characterization of Fracture Toughness Flexibility
        Letter Equivalent R19
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td>
        <img src="/assets/vtec.png" alt="" />
      </td>
      <td>

          VTEC	VTEC Laboratories review of TPRL report	Letter stating RE19

      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th colspan="3">
        NASA	(National Aeronautics and Space Administration)
      </th>
    </tr>
    <tr>
      <td>
        <img src="/assets/NASA.png" alt="" />
      </td>
      <td>
        NHB 8060.1B/CTest 1 Flammability testing
        - "0" Burn, Class "A" rating
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>
    <tr>
      <td></td>
      <td>
        NHB 8060.1C, Test 7 Toxic Off gassing
        - "K" no Toxic off gassing
        - "K" Rating for toxicity
      </td>
      <td valign="middle"><span>Passed</span></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th colspan="3">
        ASHRAE 90.1 CODE COMPLIANCE
      </th>
    </tr>
    <tr>
      <td>
        <img src="/assets/ashrae.png" alt="" />
      </td>
      <td>
        (“U” value used to measure “area-weighted average”, insulated walls or roofs)
      </td>
      <td valign="middle">Third Party Compliance Letter 2009</td>
    </tr>
    <tr>
      <td></td>
      <td>
        EMISSIVITY EXPLAINED & DEMONSTRATED
      </td>
      <td valign="middle">2015 Updated Third Party Compliance Letter</td>
    </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

    <tr>
      <th colspan="3">
        EnEV 2007 - Energy Conservation Ordinance for Buildings	Test Results
      </th>
    </tr>
    <tr>
      <td>
        <img src="/assets/enev.png" alt="" />
      </td>
      <td>
        Evaluation of heat insulation standards at buildings
        Ordinance on energy saving thermal insulation and energy saving.
        Systems engineering for buildings (energy saving regulation - EnEV 2007)
      </td>
      <td valign="middle">Test Results</td>
    </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

    <tr>
      <th colspan="3">
        5. ECAP-CUL-1-03 - ENERGY CONSERVATION ASSISTANCE PROGRAM
      </th>
    </tr>
    <tr>
      <td>
          <img src="/assets/feo.jpg" alt="" />
      </td>
      <td>
        Standard Method for Comparing Utility Loads in Standard Constructed Buildings
      </td>
      <td valign="middle">VIDEO PRESENTATION</td>
    </tr>
    <tr>
      <td></td>
      <td>
        FLORIDA:
      ECAP REPORT - PDF ( 1.77 Mb )
      </td>
      <td valign="middle">VIDEO PRESENTATION</td>
    </tr>
    <tr>
      <td></td>
      <td>
        DENVER:
        ECAP REPORT - PDF ( 1.73 Mb )
      </td>
      <td valign="middle">VIDEO PRESENTATION</td>
    </tr>
    <tr>
      <td></td>
      <td>
        DENVER:
        ECAP REPORT - PDF ( 1.73 Mb )
      </td>
      <td valign="middle">VIDEO PRESENTATION</td>
    </tr>
    <tr>
      <td></td>
      <td>
        TEXAS:
        Container ECAP Report Houston - PDF (1.48 Mb)
      </td>
      <td valign="middle"></td>
    </tr>

    <tr>
      <td></td>
      <td class="before-message"></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>
        <p class="five-message">
          This is the third time we have had the pleasure to test your product, it is rare that a single product will show such Repeatable Results in three totally different environments, South Florida and Denver Colorado and LaPorte Texas a true testimonial to your products ENERGY STAR rating.
          <br>
          Alexander Othmer - Director
          FEO Energy Conservation Assistance / USF Tampa, Florida

      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <tr>
    <th colspan="3">
      6. ICC	Approval (International Code Council)
    </th>
  </tr>
  <tr>
    <td>
      <img src="/assets/icc.png" alt="" />
    </td>
    <td>
      ICC consolidates approvals for:
    </td>
    <td valign="middle">ICC Legacy Report #21-25</td>
  </tr>
  <tr>
    <td></td>
    <td>
      BOCA (Building Officials Code Administrators)
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Section 723.2 Exposed installations, Thermal insulation
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Section 723.3 Concealed installations, Thermal insulation
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Section 803.2 Classification, Interior finish
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- 1998 International Mechanical Code
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Section 604.3 Coverings and Linings, Insulation
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- BOCA International Evaluation Report
      <br><br>
      ICBO (International Conference of Building Officials
      SBCCI (Southern Building Code Congress International)
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Passed ASTM E 84 For Flame Spread
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Passed ASTM C 411 for High Temperature for Surface Performance
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp- Passed ASTM C 177 for Thermal Conductivity
      <br>
      &nbsp&nbsp&nbsp&nbsp&nbsp(*SUPERTHERM ® Specific) #21-25
      <br>
    </td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="3">
      7. ENERGY STAR PROGRAM
    </th>
  </tr>
  <tr>
    <td>
        <img src="/assets/energystar.png" alt="" />
    </td>
    <td>
      Standard Method for Comparing Utility Loads in Standard Constructed Buildings
    </td>
    <td valign="middle">Approved partner</td>
  </tr>
  <tr>
    <td></td>
    <td>
       - Approved and accepted as an energy star partner for saving energy
    </td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      - ASTM E 903-96 Reflectivity=80%
    </td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      - ASTM C 1371 and C 1549 Solar Reflectance and Thermal Emittance
    </td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="3">
      8. Underwriters Laboratories<sup>®</sup>
    </th>
  </tr>
  <tr>
    <td>
        <img src="/assets/ul.png" alt="" />
    </td>
    <td>
      Class "A" Flame Spread on Foam
    </td>
    <td valign="middle">Certificate</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      9. LEED - Leadership in Energy & Environmental Design
    </th>
    <th>
      Approved product
    </th>
  </tr>
  <tr>
    <td>
        <img src="/assets/leed.png" alt="" />
    </td>
    <td>
      - Qualifies under Sustainable Sites Credit 7.1 Heat Island Effect - non roof
    </td>
    <td valign="middle">1 point</td>
  </tr>
  <tr>
    <td></td>
    <td>
      - Qualifies under Sustainable Sites Credit 7.2 Heat Island Effect - roof
    </td>
    <td valign="middle">1 point</td>
  </tr>
  <tr>
    <td></td>
    <td>
      - Qualifies under Energy and Atmosphere Credit 1 Optimize Energy Performance ie. reduce thermal bridging
    </td>
    <td valign="middle">1 - 10 points</td>
  </tr>
  <tr>
    <td></td>
    <td>
      - Indoor Environmental Quality Credit 4.2 Low Emitting Materials - paint
    </td>
    <td valign="middle">1 point</td>
  </tr>
  <tr>
    <td></td>
    <td>
      - Innovation & Design Process Credit 1.1 Innovation in Design
    </td>
    <td valign="middle">1 - 5 points</td>
  </tr>
  <tr>
    <td><img src="/assets/c2c.png" alt="" /></td>
    <td>
      May 1, 2007 (revised May 21, 2007) (Washington, DC) – The U.S. Green Building Council (USGBC) has announced that projects seeking certification under the LEED ® Green Building Rating System™ can now earn an "Innovation in Design" point by using the Cradle to Cradle program for certified building products.
      cradle to cradle	- MBDC Cradle to Cradle GOLD CERTIFICATION
      Member U.S. Green Building Council    </td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      10. Factory Mutual Approval
    </th>
    <th>
      Passed
    </th>
  </tr>
  <tr>
    <td><img src="/assets/fm.gif" alt="" /></td>
    <td>- ASTM E 108 Standard Test Method for Fire Tests of Roof Coverings and all other Applications *Superior Products International II, Inc. is an active member of the NRCA.
    (National Roofing Contractors Association)</td>
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      11. DNV Certification
    </th>
    <th>
    </th>
  </tr>
  <tr>
    <td><img src="/assets/dnv.gif" alt="" /></td>
    <td>- Passed DNV Audit and DNV Compliant and DNV Certification
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td>
      - Approved for worldwide salt water and Maritime use</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      - Complies with DNV's Interpretation of SOLAS 1974 Convention as Amended
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>
    - Low Flame Spread material, not generating excessive quantities of smoke nor toxic products in fire.<td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      - DNV rules for Classifications of Ships and Mobile Offshore Units</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      12. International Maritime Organization
    </th>
    <th>
    </th>
  </tr>
  <tr>
    <td><img src="/assets/imo.png" alt="" /></td>
    <td>
      IMO A. 653 (16)</td>
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td>
      -Flame Spread Test for Bulkhead, Wall, and Ceiling Linings<td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      13. ABS	American Bureau of Shipping</th>
    <th>
    </th>
  </tr>
  <tr>
    <td><img src="/assets/abs.png" alt="" /></td>
    <td>ABS Type Approval Program</td>
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      14. Marine Safety Council</th>
    <th>Passed
    </th>
  </tr>
  <tr>
    <td></td>
    <td>MSC.41 (64) - Toxic Gas Generation</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- Used Colorimetric Gas Detector Tubes</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- Met All Toxic Gas Requirements</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      15. California Cool Roof program</th>
    <th>Passed
    </th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      16. State of California Bureau of Home Furnishing and Thermal Insulation</th>
    <th>License Number TE 1421
    </th>
  </tr>
  <tr>
    <td><img src="/assets/cbei.png" alt="" /></td>
    <td></td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      17. Vodafone Testing Adana Report 2008</th>
    <th>License Number TE 1421
    </th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      18. Snip-03-2003 41 Thermal Insulation of Equipment and Pipelines: thermal resistance of wall heat transfer</th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td>Heat Exchanger Test Results in RUSSIAN THEN ENGLISH</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      19. Russian Reflectivity Testing by Russian Academy of Sciences</th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      20. SuperTherm Specification with GA Tech w-IR Pictures</th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      21. SOUND PROOFING Barrier</th>
    <th>STC-Rated 38-41</th>
  </tr>
  <tr>
    <td></td>
    <td>- Sound Reduction: STC (Sound Transmission Coefficient) - Rated 38-41 as per ASTM E 90 (In the talking range of 1500 up to 5000, we hit the 48-51 which is what the interest level is for talking and normal activity.)</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- Stoughton Trailer Ultra Sound testing shows a 68% Reduction</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- Sound testing performed by Hot-Cold Air and Fire Control by Pat Saulson, PhD</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- Sound reduced an average of 50.2% by using SUPERTHERM ® on the interior walls of a house</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      22. Japanese Industrial Standards</th>
    <th>Passed</th>
  </tr>
  <tr>
    <td><img src="/assets/jisc.jpg" alt="" /></td>
    <td>JISC	- JIS A 5759 Reflectivity of sunlight on window or coating film</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- Reflective ratio 92.2 - Long Wave Radiation ratio 99.5 (Infrared)</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td>- JIS R 3106 Solar Reflectance 15 Year Re Test</td>
    <td valign="middle"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      23. China Center for Technical Testing of Non-Metallic Materials for Ship Building, China Ship-Building Corporation.</th>
    <th>Passed</th>
  </tr>
  <tr>
    <td><img src="/assets/cssc.png" alt="" /></td>
    <td>National Bureau for the Inspection of Technologies (97)
    Measurement Approval (National) No. (M0729)</td>
    <td valign="middle">Passed - 2000 hours Salt, UV, Weathering</td>
  </tr>
  <tr>
    <td></td>
    <td>GB/T 1771-91 - Resistance to Salt Fog (2000 hours)</td>
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td>GB/T 1866-88 - Manual Aging (2000 hours)</td>
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td>GB/T 10834-88 - Resistance to Salt Water (1000 hours)</td>
    <td valign="middle">Passed</td>
  </tr>
  <tr>
    <td></td>
    <td>GB/T 5219-85 - Adhesion (pulling apart method)</td>
    <td valign="middle">4.07MPa</td>
  </tr>
  <tr>
    <td></td>
    <td>GB/T 1733-93 - Boiling Water Immersion</td>
    <td valign="middle">8 Hours</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      24. CFIA	(Canadian Food Inspection Agency)</th>
    <th>Passed</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="2">
      25. USDA	(United States Department of Agriculture)</th>
    <th>Passed</th>
  </tr>
  <tr>
    <td><img src="/assets/usda.png" alt="" /></td>
    <td>- Environmentally safe and safe for use around animals</td>
    <td valign="middle">4.07MPa</td>
  </tr>
  <tr>
    <td></td>
    <td>- Letter of Written Certification as Accepted by USDA from Manufacturer</td>
    <td valign="middle">8 Hours</td>
  </tr>
  <tr>
    <th colspan="2">
      26. DEFICIENCIES INHERENT IN EXISTING CODES</th>
    <th>Passed</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
