<div class="documents-container">
  <ul class="icon">
    <li>
      <!-- <a href="" class="tds" > -->
        <label for="plus"><img src="/assets/tdatasheet.png" height="55px" width="55px" alt="" /></label>
        <input type="checkbox" id="plus" />
        <label for="plus">Technical Data Sheets</label>
        <object data="/assets/Technical_Data_Sheets/Tech Sheet - Super Therm 4-3-15.pdf" type="application/pdf" class="hide-show">
          <p>Alternative text - include a link <a href="/assets/Technical_Data_Sheets/Tech Sheet - Super Therm 4-3-15.pdf">to the PDF!</a></p>
        </object>
        <!-- <input type="checkbox" id="plus" /> -->
        <!-- <label for="plus"></label> -->
      <!-- </a> -->
    </li>
    <li>
      <a href="#" class="certifications">
        <img src="/assets/certifications.png" height="59px" width="55px" alt="" />
        <br>
      </a>
    </li>
    <li>
      <a href="#" class="project-pictures">
        <img src="/assets/pic.png" height="51px" width="57px" alt="" />

      </a>
    </li>
    <li>
      <a href="#" class="project-videos">
        <img src="/assets/vid.png" height="55px" width="55px" alt="" />
        <br>
      </a>
    </li>
    <li>
      <a href="#" class="application-instructions">
        <img src="/assets/instructions.png" height="55px" width="55px" alt="" />
      </a>

    </li>
  </ul>

    <ul class="text">
      <li>
        <!-- <a href="#" class="tds-text"> -->

      <!-- </a> -->
      </li>
      <li>
        <a href="#" class="certifications-text">
          Certifications
        </a>
      </li>
      <li>
        <a href="#" class="project-pictures-text">
          Project Pictures
        </a>
      </li>
      <li>
        <a href="#" class="project-videos-text">
          Project Videos
        </a>
      </li>
      <li>
        <a href="#" class="application-instructions-text">
          Application Instructions
        </a>
      </li>
    </ul>

</div>
