<div class="documents-container">
  <ul class="icon">
    <li class="hvr-wobble-bottom">
      <a href="#" class="tds">
        <img src="/assets/tdatasheet.png" height="55px" width="59px" alt="" />
          <span class="supertherm-tds-span">Technical Data Sheets</span>
      </a>
    </li>
    <li class="hvr-wobble-bottom">
      <a href="#" class="supertherm-certifications">
        <img src="/assets/certifications.png" height="55px" width="55px" alt="" />
          <span class="certifications">Certifications</span>
          <br>
          &nbsp
      </a>
    </li>
    <li class="hvr-wobble-bottom">
      <a href="#" class="supertherm-project-pictures">
        <img src="/assets/pic.png" height="51px" width="57px" alt="" />
          <span>Project Pictures</span>
      </a>
    </li>
    <li class="hvr-wobble-bottom">
      <a href="#" class="supertherm-project-videos">
        <img src="/assets/vid.png" height="55px" width="55px" alt="" />
          <span>Project Videos</span>
      </a>
    </li>
    <li class="hvr-wobble-bottom">
      <a href="#" class="supertherm-application-instructions">
        <img src="/assets/instructions.png" height="60px" width="55px" alt="" />
          <span>Application Instructions</span>
      </a>
    </li>
  </ul>
</div>

<embed src="/assets/Technical_Data_Sheets/supertherm_4-3-15.pdf" type="application/pdf" id="demo" width="400" height="1180"/>
<!-- <object id="tds-pdf" data="/assets/Technical_Data_Sheets/supertherm_4-3-15.pdf" type="application/pdf" width="100%" height="100%">
<p>Alternative text - include a link <a href="/assets/Technical_Data_Sheets/supertherm_4-3-15.pdf">to the PDF!</a></p>
</object> -->
