<div class="documents-container">
  <ul class="icon">
    <li>
      <a href="#" class="tds">
        <img src="/assets/tdatasheet.png" height="55px" width="55px" alt="" />
        <br>
      </a>
    </li>
    <li>
      <a href="#" class="certifications">
        <img src="/assets/certifications.png" height="59px" width="55px" alt="" />
        <br>
      </a>
    </li>
    <li>
      <a href="#" class="project-pictures">
        <img src="/assets/pic.png" height="51px" width="57px" alt="" />
        <br>
      </a>
    </li>
    <li>
      <a href="#" class="project-videos">
        <img src="/assets/vid.png" height="55px" width="55px" alt="" />
        <br>
      </a>
    </li>
    <li>
      <a href="#" class="application-instructions">
        <img src="/assets/instructions.png" height="55px" width="55px" alt="" />
      </a>
      <br>
    </li>
  </ul>
<br><br><br><br>
    <ul class="text">
      <li>
        <a href="#" class="tds-text">
          Technical Data Sheets
        </a>
      </li>
      <li>
        <a href="#" class="certifications-text">
          Certifications
        </a>
      </li>
      <li>
        <a href="#" class="project-pictures-text">
          Project Pictures
        </a>
      </li>
      <li>
        <a href="#" class="project-videos-text">
          Project Videos
        </a>
      </li>
      <li>
        <a href="#" class="application-instructions-text">
          Application Instructions
        </a>
      </li>
    </ul>








</div>
