<!-- <div class="footerContent"> -->
      <!-- <img src="/assets/phone.png" alt="" height="75px" width="75px" align="middle" /> -->
    <footer class="mainFooter">
      <ul>
        <li>
          <a href="/payments/show">
            <img src="/assets/pay.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="/certified_contractors/show">
            <img src="/assets/certcontr.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="/industry_links/show">
            <img src="/assets/links.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCERGEwuO7jKen536Drjfirw">
            <img src="/assets/youtube.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/?lang=en">
            <img src="/assets/tw.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/">
            <img src="/assets/facebook.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="mailto:president@eaglecoatings.net">
            <img src="/assets/email.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
        <li>
          <a href="/about/show">
            <img src="/assets/about.png" alt="" height="45px" width="45px" align="middle" />
          </a>
        </li>
      </ul>
    </footer>
  <!-- </div> -->
