  <header class="mainHeader">
      <a href="/home/show">
        <img src="/assets/EagleLogo.png" alt="" />
      </a>
        <nav>
        <ul>
        <li><a href="/products/supertherm">SuperTHERM<sup>®</sup></a></li>
        <li><a href="/products/rustgrip">RustGRIP<sup>®</sup></a></li>
        <li><a href="/products/sunshield">SunSHIELD<sup>®</sup></a></li>
        </ul>
        <div class="search"><a href="#"><img src="/assets/mg.png" alt="" /></a>
        </div>
        <div class="product-inventory"><a href="/products/index"><img src="/assets/inventory.png" alt="" /></a>
        </div>
        </nav>
  </header>

  <hr>
